* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 16px;

  
}

body {
  width: 100vw;
  height: 100vh;
}

.header {
  height: 30%;
  width: 100%;

  background: url('./assets/dccl--javascript-github-profile/dccl--javascript-github-profile/hero-image-github-profile.png') center no-repeat;
  background-size: 100% auto;

  display: flex;
  justify-content: center;

  padding-top: 40px;
}

.header__form {
  width: 600px;
}

.form__filterbox {
  width: 100%;
  height: 60px;

  border-radius: 10px;
  border: none;

  background-color: #20293A;

  display: flex;
  align-items: center;
}

.filterbox__container--img {
  display: flex;
  align-items: center;

  padding: 0 20px;

  position: absolute;
}

.filterbox__img {
  width: 25px;
  object-fit: cover;

  position: absolute;
}

.filterbox__container--input {
  width: 100%;
  height: 100%;

  cursor: text;
}

.filterbox__input {
  font-size: 1.25rem;
  color: #CDD5E0;

  background: transparent;
  width: 100%;
  height: 100%;
  padding-left: 70px;

  border: none;
  border-radius: 10px;
  outline: none;
}

.filterbox__input:focus {
  border: 2px solid #3662E3;
}

.filterbox__input::placeholder {
  color: #4A5567;

  font-size: 1.25rem;
}

.form__result {
  margin-top: 10px;

  width: 100%;
  height: 80px;

  background-color: #111729;

  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;

  border-radius: 10px;
}

.result__img {
  width: 70px;
  object-fit: cover;

  border-radius: 10px;
}

.result__text {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.text__username {
  color: white;
  font-size: 1rem;
}

.text__description {
  color: #CDD5E0;
  font-size: 0.75rem;
  opacity: 0.8;
}

.container {
  width: 100%;
  height: 100%;
  background: #4A5567;

  z-index: 1;

  padding: 0 150px;
}

.container__header {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;
}

.header__stats {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.header__profile {
  width: 140px;
  height: 140px;
  background-color: #4A5567;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 190px;

  border-radius: 20px;
}

.profile__img {
  width: 140px;
  object-fit: cover;

  padding: 10px;
  border-radius: 20px;
}

.stats__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: #111729;
  border-radius: 10px;
}

.wrapper__text {
  padding: 10px 20px;

  color: #4A5567;
  font-size: 1rem;

  border-right: 1px solid #4A5567;
}

.wrapper__data {
  padding: 20px 30px;

  color: white;
  font-size: 1rem;
}

.header__username {
  height: 100px;
  width: 100%;

  padding-top: 50px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.username__text {
  font-size: 2rem;
  color: #CDD5E0;
}

.username__description {
  font-size: 1rem;
  color: #CDD5E0;
  opacity: 0.7;
}

.main__repos {
  margin-top: 50px;

  height: 450px;

  display: flex;
  gap: 50px 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.repos__repo {
  height: 170px;
  width: 48.5%;
  padding: 20px;

  background: linear-gradient(90deg ,#111729, #1D1B48);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #CDD5E0;
}

.repo__name {
  font-size: 1.25rem;
}

.repo__description {
  font-size: 1rem;
  opacity: 0.7;
}

.repo__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 10px;
}

.buttons__div {
  display: flex;
  flex-direction: row;
  align-items: center;

  opacity: 0.7;

  gap: 5px;
}

.update__text {
  font-size: 0.75rem;
  margin-left: 10px;
}

.repos__link {
  width: 100%;

  margin-top: 20px;

  display: flex;
  justify-content: center;
}

.link__a {
  text-decoration: none;
  color: #CDD5E0;
  opacity: 0.7;
}

.link__a:hover {
  transition: all 1s ease;
  color: white;
  text-decoration: underline;
}